body {
  background-color: #f6def6;
}
hr {
  border-style: dotted none none none;
  background-color: #f6def6;
  border-width: 3px;
  border-color: grey;
  width: 2.5%;
}
h1 {
  color: #66BFBF;
  font-weight: lighter;
  font-style: italic;
}
h3 {
  color: #66BFBF;
}
.myimage{
  border-radius: 100%
}
img:hover{
  border-style: groove;
}
